# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# editor and env stuff
*.swp
.sconsign.dblite
.kdbgrc.runner

# Compiled Apps
count_terms
runner

# Other
